<ion-header>

    <ion-toolbar>
        <ion-title>Marques</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)='update()'>
                <ion-icon slot="icon-only" name="refresh"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <div padding>
        <form (submit)='addBrand($event)'>
            <ion-item>
                <ion-input required type="text" placeholder="Nouvelle marque" [formControl]="name"></ion-input>
            </ion-item>
            <ion-button expand="block" [disabled]='name.invalid' type="submit">Ajouter</ion-button>
        </form>
    </div>

</ion-header>

<ion-content padding>

    <h4 *ngIf="brandsList?.length">{{brandsList.length }} marques trouvées.</h4>
    <ion-list>
        <ion-item *ngFor="let brand of brandsList">
            {{brand.name}}
        </ion-item>
    </ion-list>
</ion-content>

