<!--
  Generated template for the NewProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{product.gtin}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-item *ngIf="!product.image || product.image === ''">
        <button ion-button full (click)="picture()">
            <ion-icon name="camera"></ion-icon>
        </button>
    </ion-item>
    <ion-item *ngIf="product.image !== ''" [interval]="400" ion-long-press (onPressing)='product.image=""'>
        <img src="{{product.image}}" alt="" >
    </ion-item>
    <ion-item>
        <ion-label>Famille</ion-label>
        <ion-select interface='action-sheet' [(ngModel)]="product.family" (ngModelChange)="selectFamily($event)">
          <ion-option [value]="family.id" *ngFor="let family of families.get() | async">{{family.name}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf='selectedFamily && selectedFamily.subFamilies && selectedFamily.subFamilies.length'>
        <ion-label>Sous-famille</ion-label>
        <ion-select interface='action-sheet' [(ngModel)]="product.subFamily">
          <ion-option [value]="family.id" *ngFor="let family of selectedFamily.subFamilies">{{family.name}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Désignation</ion-label>
        <ion-input required type="text" [(ngModel)]="product.label" ></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Marque</ion-label>
        <ion-select interface='action-sheet' [(ngModel)]="product.brand">
          <ion-option [value]="brand.id" *ngFor="let brand of brands.get() | async">{{brand.name}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Prix</ion-label>
        <ion-input type="number" [(ngModel)]="product.price1" required="true" clearInput=true min="0" ></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Contenance</ion-label>
        <ion-input type="number" [(ngModel)]="product.weight" required="true" clearInput=true min="0"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Unité</ion-label>
        <ion-select interface='action-sheet' [(ngModel)]="product.unit">
          <ion-option [value]="K" >Kilogramme</ion-option>
          <ion-option [value]="L" >Litre</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>TVA</ion-label>
        <ion-select interface='action-sheet' [(ngModel)]="product.tva">
          <ion-option [value]="FIVE" >5.5</ion-option>
          <ion-option [value]="TWENTY" >20</ion-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label>Pesable</ion-label>
        <ion-toggle [(ngModel)]="product.shouldBalanced"></ion-toggle>
      </ion-item>
      <ion-item >
            <button ion-button full (click)="productProvider.add(product)" [disabled]="product.isInvalid()">
                <ion-icon name="basket"></ion-icon>
            </button>
        </ion-item>
</ion-content>
